@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+US+Modern:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #f4c3c2;
    --secondary-color: #F3DAD8;
    --grid-color: #D6D9CE;
    --text-color:white;
    --secondary-text-color:#4b4d49;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

.nav-link {
    color: rgb(247, 246, 246);
}

section {
	height: 100vh;
	display: flex;
	justify-content: left;
	align-items: left;
	font-size: 2rem;
	color: white;
}

#portfolio {
	background-image: url("https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover; 
	position:relative;
  	background-attachment: fixed; 
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}

#press {
	background: linear-gradient(45deg, #ffb3b3, #ffcccc, #ccccff, #23d5ab);

}

#shop {
	background-image: url("https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover; 
	position:relative;
  	background-attachment: fixed; 
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#about {
	background: linear-gradient(-45deg, #ee7752,   #e73c7e, #23a6d5, #23d5ab);
}

.name-h1{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-decoration: underline;
    color: var(--text-color);
    text-shadow: 3px 3px var(--primary-color);
    font-size: 100px;
    padding-right: 100px; 
}

.webdev{
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    text-shadow: 3px 3px var(--primary-color);
    font-size: 50px;
	padding-bottom: 50px;
	padding-right: 150px; 
}

.welcome{
	font-family: "Poppins", sans-serif;
	color: var(--secondary-text-color);
	/* text-shadow: 3px 3px var(--primary-color); */
	font-size: 30px;
	padding-top: 50px;
	padding-left: 100px;
	/* padding-right: 170px;
	padding-bottom: 50px; */
}

.about-me{
	font-family: "Poppins", sans-serif;
	color: var(--secondary-text-color);
	font-size: 40px;
	padding-top: 50px;
	padding-left: 100px;
	/* text-shadow: 3px 3px var(--primary-color);
	font-size: 50px;
	padding-right: 170px;
	padding-bottom: 50px; */
}

.more-info{
	font-family: "Poppins", sans-serif;
	color: var(--text-color);
	text-shadow: 3px 3px var(--secondary-text-color);
	font-size: 50px;
	padding-bottom: 50px;
}

.services{
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    text-shadow: 3px 3px var(--secondary-text-color);
    font-size: 50px;
	padding-top: 50px;
}

.text-p{
	font-family: "Poppins", sans-serif;
	color: var(--secondary-text-color);
	font-size: 20px;
	margin: 10px;
	padding-top: 25px;
	padding-left: 100px;
	text-align: left;
	width: 80%;
}  

.flex-container{
    min-width: 90%;
    min-height: auto;
    margin: 0 auto;
    display: flex;
    gap: 60px;  
    justify-content: space-evenly;
    align-items: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.card{
    width: 450px;
    max-width: 90%;
    height: 730px;
    overflow: auto;
    background-color: var(--grid-color);
    border-radius: 25px;
    padding: 25px; 
    box-shadow: 0px 0px 20px 0px var(--primary-color);
    text-align: center;
}

.card h3{
    font-size: 30px;  
	color: var(--secondary-text-color); 
}

.card-p{
	color: var(--secondary-text-color); 
    font-size: 20px;
    text-align: start;
    width: 350px; 
	padding-left: 20px;
	padding-top: 10px;
}

.card a{
    display: block;
    font-size: 20px;
    padding: 15px 40px;
    border-radius: 50px;
    margin-top: 10px;
    text-decoration: none;
    color: var(--secondary-text-color);
    background: var(--secondary-color);
    transition: 0.5s ease-in-out;
}

.card a:hover{
    background: transparent;
} 

.card img{
    width: 300px;
    height: 60px;
    margin: auto;
    margin-top: 145px;
    padding: 10px;
    background-color: var(--secondary-text-color);
    margin-bottom: 250px;
}

.grid-section{
    background-color: var(--secondary-color);
    padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.grid_container{
        margin: 0 auto; 
        max-width: 90%;
        background-color: var(--primary-color);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.8);
        gap: 1rem;
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 300px 300px; 
        grid-template-areas: 
        "item1 item1 item2 item3"
        "item4 item5 item5 item3";
}
    
#item1{
        grid-area: item1;
        display: flex;
        justify-content: center;
        align-items: center;
        
}
    
#item2{
        grid-area: item2;
        flex-direction: column;
        
}
   
#item3{
        grid-area: item3;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 25px;
        color: var(--secondary-text-color);
}
    
#item4{
        grid-area: item4;
        flex-direction: column;
}
    
#item5{
        grid-area: item5;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
}
    
.grid_item{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px; 
        border-radius: 10px;
        background-color: var(--grid-color);
}
    
.grid_item a{
        color: var(--secondary-text-color);
        font-size: 30px;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        transition: 150ms ease-in-out;
}

.grid_item a:hover{
        color: var(--text-color);
        background: transparent;
}
    
#item5 img{
        width: 100px;
        height: 100px;
        border-radius: 10px;
        margin-right: 25px;
}